@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=KoHo');
@import "fontello.css";
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i');
.title-atenea {
    font-size: xx-large;
}

.title-atenea:link {
    font-size: xx-large;
    text-decoration: none;
}

.gestion-contexto {
    width: 50%;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

@media (min-width: 481px) and (max-width: 767px) {
    .gestion-contexto {
        width: 100%;
    }
    .res-but {
        width: 60%;
    }
    .res-search {
        size: 30% !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .gestion-contexto {
        width: 100%;
    }
    .res-but {
        width: 60%;
    }
    .res-div {
        padding: 10%;
    }
    .res-search {
        size: 30% !important;
    }
}

@media (min-width: 1281px) {
    .res-but {
        width: 40%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .res-but {
        width: 40%;
    }
}