@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=KoHo');
@import "fontello.css";
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i');

.b1 {
    background-color: magenta;
}