{% extends 'base.html.twig' %}

{% block title %}Hello ErrorController!{% endblock %}

{% block body %}

<div class="container py-5">
    <h1>User not found with id -> {{ id }} </h1>
    <a class="ml-5" href="{{ path('login') }}">Volver</a>
</div>
{% endblock %}
