{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-4 ">
            <div class="col-sm-8">
                <div class="card d-flex ">
                    <div class="card-header bg-danger text-white">
                        <h4>Inicia sesión</h4>
                    </div>
                     
                    <div class="card-body border border-dark">
                        <div class="col-12 ">
                          
                            <form action="{{ path('login') }}" method="post" class="text-center ">
                                <label class="sr-only " for="username">Usuario:</label>
                                <input type="text" id="username" class="form-control mb-3 border border-secondary" name="_username" value="" placeholder="Username" required autofocus/>
                                <label class="sr-only" for="password">Contraseña:</label>
                                <input class="form-control mb-3 border border-secondary " id="password" name="_password" placeholder="Password" required type="password"/>
                                                <i onclick="mostrarContrasena();" class="icon-search-1  pointer ">Mostrar contrasenya</i>
                                                <div>
                              <button class="btn btn-md btn-danger mb-2 mt-4 " type="submit">Iniciar sesion</button>
                              </div>
                            </form>
                             {% if error %}
                      <div class="" >
                                <strong class="text-danger">Usuario o Contraseña incorrecta</strong>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}