{% extends 'base.html.twig' %}

{% block title %}Ejemplo DAFO{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table,td,tr,th {
        border: 1px solid black;
    }
</style>
<div class="example-wrapper">
    <table>
        <thead>
            <tr>
                <th>Questiones Internas</th>
                <th>Questiones Externas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h1>Debilidades</h1>
                    {% for qi in debilitats %}
                        <p>{{ qi.getQuestioInterna().getNombre() }}</p>
                    {% endfor %}
                </td>
                <td>
                    <h1>Amenazas</h1>
                    {% for qe in amenaces %}
                        <p>{{ qe.getQuestioExterna().getNombre() }}</p>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Fortalezas</h1>
                    {% for qi in fortaleses %}
                        <p>{{ qi.getQuestioInterna().getNombre() }}</p>
                    {% endfor %}
                </td>
                <td>
                    <h1>Oportunidades</h1>
                    {% for qe in oportunitats %}
                        <p>{{ qe.getQuestioExterna().getNombre() }}</p>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
